@import url('font/font.css');

body { 
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
}

.heading {
  font-family: mikadobold, "Helvetica Neue", Helvetica, sans-serif;
}